body {
  position: absolute;
  object-fit: cover;
  width: auto;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-image: url(https://cdn.wallpapersafari.com/46/0/CAWdm3.jpg);
}

/*Menù*/
.navegacion {
  width: 80%;
  margin: 30px auto;
  background: rgb(65, 65, 75);
  text-align: center;
}
.navegacion ul {
  list-style: none;
}
.menu > li {
  position: relative;
  display: inline-block;
}

.menu > li > a {
  display: block;
  padding: 15px 20px;
  color: rgb(0, 247, 255);
  text-decoration: none;
  font-family: "Times New Roman", Times, serif;
}
.menu li a:hover {
  color: white;
  transition: all 1s;
}

.submenu {
  position: absolute;
  background: rgb(44, 39, 39);
  width: 140%;
  visibility: hidden;
  opacity: 100;
  transition: opacity 0.5s;
}
.submenu li a {
  visibility: fixed;
  display: block;
  padding: 15px;
  color: rgb(0, 247, 255);
  font-family: "Times New Roman", Times, serif;
  text-decoration: none;
}
.a {
  display: block;
  padding: 15px;
  color: rgb(0, 247, 255);
  font-family: "Times New Roman", Times, serif;
  text-decoration: none;
  z-index: 1;
}

.menu li:hover .submenu {
  z-index: 1;
  visibility: visible;
  opacity: 1;
  color: rgb(0, 247, 255);
}
#menu {
  z-index: 1;
}
/*imagen*/
img {
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
/*Contenedor de la lista de integrantes*/
.contenedor {
  border: 1px;
  box-sizing: border-box;
  padding: 1em;
  width: 90%;
  font-size: 150%;
  float: center;
  margin: 2px;
  object-fit: cover;
  vertical-align: top;
  text-align: center;
  font-family: sans-serif;
  color: black;
}
/*Contenedor de la lista de ejercicios*/
.contenedorEJ {
  border: 1px;
  box-sizing: border-box;
  padding: 5px;
  width: 100%;
  margin: 1px;
  object-fit: cover;
  vertical-align: top;
  text-align: center;
}
/*parrafo*/
h1 {
  font-family: sans-serif;
  text-align: center;
  color: rgb(0, 247, 255);
  margin: 0px;
  vertical-align: 50%;
  font-size: 120%;
}
/*Clases de titulo */

/*Titulo Destacado*/
.titulo {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  color: rgb(0, 247, 255);
  margin: 0px;
  vertical-align: 50%;
  font-size: 350%;
}
/*Subtitulo*/
.titulo_p {
  border: 1px;
  box-sizing: border-box;
  padding: 1em;
  width: 90%;
  float: left;
  margin: 2px;
  object-fit: cover;
  vertical-align: top;
  text-align: center;
  color: rgb(0, 247, 255);
  font-size: 200%;
}

.h2 {
  border: 1px;
  box-sizing: border-box;
  padding: 1em;
  width: 90%;
  float: center;
  margin: 2px;
  object-fit: cover;
  vertical-align: top;
  text-align: center;
  font-family: sans-serif;
  color: black;
}
/*titulo de nombres de integrantes*/
.titulo_integrantes {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: rgb(0, 247, 255);
  font-size: 350%;
  text-align: center;
}

/*AQUI COMIENZA LAS PARTICIONES RESPONSIVE DE ACUERDO AL ANCHOR DEL DISPOSITIVO*/
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .titulo {
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    color: rgb(0, 247, 255);
    margin: 0px;
    vertical-align: 50%;
    font-size: 250%;
  }
}
